@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hyperwave+One&display=swap');
body {
    font-family: sans-serif, serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 33%, 1%);
    background-image: url('https://i.pinimg.com/736x/7c/30/90/7c30904b093cae6bdd6333f0a192d7a2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    color: #c00a0a;
    margin: 0;
    font-size: 2.5em;
}
header {
    background-color: rgba(0, 0, 0, 0.83); 
    color: #c00a0a;
    padding: 10px 0;
    text-align: center;
}
h2 {
    font-family: 'hyperwave one', Open-type;
    font-size: 5em;
    color: #c00a0a;
    border-bottom: 2px solid #c00a0a;
    padding-bottom: 5px;
}
h3 {
    font-family: 'Days One', serif;
    color: #c00a0a;
    font-size: 2em;
}
h4
{
    font-family: 'Days One', serif;
    color: #d3d0cf;
    font-size: 1.5em;
    padding-bottom: 5px;
}
p {
    font-family: 'Days One', serif;
    color: #d3d0cf;
}

section{
    padding: 20px;
    margin: 20px;
    background: rgba(0, 0, 0, 0.8);
    image-resolution: from-image;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}
section img {
    width: 100%;
    border-radius: 30px;
}
button {
    font-family: 'Days One', serif;
    color: #d3d0cf;
    background-color: #8b0000;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: transform 0.2s, box-shadow 0.3s, background-color 0.3s; /* Aqui se defino que transformar */
}

button:hover {
  background-color: #c00a0a; /* se define el color de fondo al pasar el mouse */
  transform: scale(1.05) translateY(-2px); /* se define el tamaño y la posicion de la transformacion */
  box-shadow: 0 5px 15px rgba(255, 26, 26, 0.4); /* se define la sombra De la transformacion */
}
grid {
    display: grid;/* convierte a los elementos en grid */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));/* se define el tamaño de las columnas */
    gap: 20px;/* separacion entre elementos */
    padding: 20px;/* margen interno */
}

.contenedor_img {
    max-width:fit;
    margin: 0;/* centra el contenido */
    display: flex;/* convierte a los elementos en flexibles */
    gap: 4rem;/* separacion entre elementos */
    align-items: center;/* alinea los elementos verticalmente */
    
}
.texto_bio {
    font-family: 'Days One', serif;
    color: #d3d0cf;
    font-size: 1.2em;
    line-height: 1.5em;
}
.img_bio {
    width: 100%;
    border-radius: 1px;
    border-bottom: #8b0000;
}
  
@media (max-width: 768px) {
    .contenedor_img {
      flex-direction: column;
    }
    .img_bio {
      width: 100%;
    }
    .img_ssj {
      flex-direction: column;
    }
    
    }